<!-- as we know views fldr is to store ejs files ,
 here for listing related files we are only 
 using views/listing -->
<% layout('/layouts/boilerplate') -%>
<style>
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .filter{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
        text-align: center;
        opacity: 0.7;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        height: 3.25rem;
        border-radius: 1rem;
        padding: 1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }
</style>
<body>
    
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            Trending
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            Rooms
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            Iconic Cities
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            Mountains
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            Castles
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
           Amazing pool
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            Camping
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
           Farming
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            Boats
        </div>
        
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
    <%  for(let list of allListing) { %>
        <a href="/listings/<%= list.id %>" class="Listing-link">
            <div class="card col Listingcard">

        <img src="<%= list.image.url %>"
        class="card-img-top"
         style="height: 15rem;">
        <div class="card-img-overlay"></div>

     <div class="card-body">
        <p class="card-text">
            <b><%= list.title %></b> <br>
            <!-- Converts that number into a string with commas as per Indian locale formatting. -->
            &#8377; <%= list.price.toLocaleString("en-IN") %>/night
            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
        </p>
     </div>
    </div>
        </a>

    <%  } %>
    </div>

</body>
<script>
    let taxSwitch = document.getElementById("switchCheckDefault");
    // for(tax of taxInfo){
    //     tax.addEventListener("click",
    //         console.log("clicked");
    //  
    // }

    taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display="inline"
            }else{
                info.style.display="none"
            }
        }
    })
</script>